<<<<<<< HEAD
<!--/* In the name of God, the Merciful, the Compassionate */-->`r`n<div class="dashboard-page">
=======
<!--/* In the name of God, the Merciful, the Compassionate */-->
<div class="dashboard-page">
>>>>>>> origin/master
    <DynamicDashboard DashboardId="repository" />
</div>
