<<<<<<< HEAD
<!--/* In the name of God, the Merciful, the Compassionate */-->`r`n@page "/blocking"
=======
<!--/* In the name of God, the Merciful, the Compassionate */-->
@page "/blocking"
>>>>>>> origin/master

<div class="dashboard-page">
    <DynamicDashboard DashboardId="blocking" />
</div>


