<!--/* In the name of God, the Merciful, the Compassionate */-->
@page "/blocking"
<PageTitle>SQLTriage - Blocking</PageTitle>

<div class="dashboard-page">
    <DynamicDashboard DashboardId="blocking" />
</div>


