<<<<<<< HEAD
<!--/* In the name of God, the Merciful, the Compassionate */-->`r`n@page "/checks"
=======
<!--/* In the name of God, the Merciful, the Compassionate */-->
@page "/checks"
>>>>>>> origin/master

<div class="dashboard-page">
    <DynamicDashboard DashboardId="checks" />
</div>


