<!--/* In the name of God, the Merciful, the Compassionate */-->
@page "/checks"
<PageTitle>SQLTriage - Checks</PageTitle>

<div class="dashboard-page">
    <DynamicDashboard DashboardId="checks" />
</div>


