<!--/* In the name of God, the Merciful, the Compassionate */-->
@page "/instance"
<PageTitle>SQLTriage - Instance Overview</PageTitle>

<div class="dashboard-page">
    <DynamicDashboard DashboardId="instance" />
</div>