<<<<<<< HEAD
<!--/* In the name of God, the Merciful, the Compassionate */-->`r`n@page "/instance"
=======
<!--/* In the name of God, the Merciful, the Compassionate */-->
@page "/instance"
>>>>>>> origin/master

<div class="dashboard-page">
    <DynamicDashboard DashboardId="instance" />
</div>