<<<<<<< HEAD
<!--/* In the name of God, the Merciful, the Compassionate */-->`r`n@page "/longqueries"
=======
<!--/* In the name of God, the Merciful, the Compassionate */-->
@page "/longqueries"
>>>>>>> origin/master

<div class="dashboard-page">
    <DynamicDashboard DashboardId="longqueries" />
</div>

