<!--/* In the name of God, the Merciful, the Compassionate */-->
@page "/presource"
<PageTitle>SQLTriage - Resource Usage</PageTitle>
<div class="dashboard-page">
    <DynamicDashboard DashboardId="presource" />
</div>
