<<<<<<< HEAD
<!--/* In the name of God, the Merciful, the Compassionate */-->`r`n@page "/waitevents"
=======
<!--/* In the name of God, the Merciful, the Compassionate */-->
@page "/waitevents"
>>>>>>> origin/master

<div class="dashboard-page">
    <DynamicDashboard DashboardId="waitevents" />
</div>


